{% extends "layout.html" %}
{% block title %}
Lista Categorias
{% endblock %}
{% block content %}
<section>
    <div class="container mt-3">
        <h2 class="title-background">CLUB REGISTRADAS</h2>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="button" class="btn btn-success mb-3">Añadir Club</button>
        </div>
        <input class="form-control" id="search" type="text" placeholder="Buscar...">
        <!-- Wrap the table in a div with a class for scrolling -->
        <div class="table-wrapper-scroll-y mt-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr id="new-prueba-row" style="display: none;">
                        <td>
                            <input type="text" class="new-description">
                        </td>
                        <td>
                            <form action="{{ url_for('add_club') }}" method="POST" class="add-form">
                                <input type="text" name="new_description" class="new-description" style="display: none;">
                                <button type="submit" class="ok-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" class="cancel-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                    {% for club in rows %}
                    <tr>
                        <td>
                            <span class="description">{{ club.descripcion }}</span>
                            <input type="text" class="edit-input" style="display: none;" value="{{ club.descripcion }}">
                        </td>
                        <td>
                            <button class="edit-button" style="background: none; border: none; cursor: pointer;">
                                <i class="fas fa-edit"></i>
                            </button>

                            <form action="{{ url_for('edit_club') }}" method="POST" style="display: none;" class="edit-form" id="editForm">
                                <input type="hidden" name="id_edit" value="{{ club.id_club }}">
                                <input type="text" name="edited_description" class="edited-description" style="display: none;">
                                <button type="submit" class="ok-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" class="cancel-button" style="display: none; background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>

                            <button type="button" class="open-delete-modal" data-toggle="modal" data-target="#deleteModal-{{ club.id_club }}" style="background: none; border: none; cursor: pointer;">
                                <i class="fas fa-trash"></i>
                            </button>    
                        </td>
                    </tr>

                    <!-- Modal for Delete Confirmation -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar 👀</h5>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro que querés eliminar este club? 
                                    <br>
                                    Todos los nadadores de este club no la van a tener más asignado 😐
                                </div>
                                <div class="modal-footer">
                                    <form action="{{ url_for('delete_club') }}" method="POST" style="display: inline;" class="delete-form" id="deleteForm">
                                        <input type="hidden" name="id_del" value="{{ club.id_club }}">
                                        <button type="submit" class="btn btn-danger" id="submitFormButton">Eliminar</button>
                                    </form>    
                                </div>
                        </div>
                    </div>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


</section>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                $("#new-prueba-row").hide();
            });
        });


        $(".edit-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editButton = row.find(".edit-button");
            var cancelButton = row.find(".cancel-button");
            var editForm = row.find(".edit-form");
            var deleteButton = row.find(".delete-button");

            var oldDescription = descriptionSpan.text(); // Store the old description

            descriptionSpan.hide();
            editInput.val(oldDescription); // Set the input value to the old description
            editInput.show();
            editButton.hide();
            cancelButton.show();
            editForm.show();
            deleteButton.hide();
        });

        $(".ok-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editForm = row.find(".edit-form");
            var newDescription = editInput.val(); // Get the edited description

            // Set the value of the edited_description input field in the form
            editForm.find(".edited-description").val(newDescription);

            descriptionSpan.text(newDescription); // Update the displayed description
            descriptionSpan.show();
            editInput.hide();
            editButton.show();
            cancelButton.hide();
            editForm.hide();
            deleteButton.show();
        });

        $(".cancel-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editButton = row.find(".edit-button");
            var cancelButton = row.find(".cancel-button");
            var editForm = row.find(".edit-form");
            var deleteButton = row.find(".delete-button");

            descriptionSpan.show();
            editInput.hide();
            editButton.show();
            cancelButton.hide();
            editForm.hide();
            deleteButton.show();
        });

        // Click event for the delete buttons
        $(".open-delete-modal").on("click", function() {
            var idToDelete = $(this).closest("tr").find("input[name='id']").val(); // Get the ID from the hidden input
            var deleteForm = $("#deleteForm"); 

            deleteForm.find("input[name='id_del']").val(idToDelete);
        });
    });

    // Show the new prueba row when "Añadir Prueba" button is clicked
    $(".btn-success").click(function() {
        $("#new-prueba-row").show();
    });

    // Handle the cancel button in the new row
    $(".new-description").on("input", function() {
        // Hide the new prueba row if the input field is empty
        if ($(this).val() === "") {
            $("#new-prueba-row").hide();
        }
    });

    // Handle the cancel button in the new row
    $(".cancel-button").click(function() {
        // Hide the new prueba row
        $("#new-prueba-row").hide();
    });

    // Handle the OK button in the new row
    $(".ok-button").click(function() {
        var row = $("#new-prueba-row");
        var newDescription = row.find(".new-description").val();

        if (newDescription) {
            // Set the value of the new_description input field in the form
            row.find(".new-description").val(newDescription);
            // Submit the form to Flask
            row.find(".add-form").submit();
        }
    });

     // Submit the form when the "Eliminar" button in the modal is clicked
     $("#submitFormButton").click(function () {
            // Trigger the form submission
            $("#deleteForm").submit();
        });

        $(document).ready(function () {
            $(".open-delete-modal").on("click", function () {
                // Get the ID from the data attribute of the clicked button's parent form
                var rowId = $(this).closest(".delete-form").find("input[name='id_del']").val();
                console.log("rowId:", rowId);

                // Send the rowId to the server using AJAX
                $.ajax({
                    type: "POST",
                    url: "/deleteclub", // Replace with the actual URL of your server endpoint
                    data: { rowId: rowId }, // Send the rowId as data
                    error: function (error) {
                        // Handle errors if any
                        console.error("Error:", error);
                    }
                });

                // Show the modal
                $("#deleteModal").modal("show");
            });
    	    });

</script>
 





{% endblock %}
