{% extends "layout.html" %}
{% block title %}
Lista Nadadores
{% endblock %}
{% block content %}
<!-- Modal for Delete Confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar 👀</h5>
            </div>
            <div class="modal-body">
                ¿Estás seguro que querés eliminar este nadador? 
                <br>
                Se van a eliminar también sus pruebas asociadas 😐
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="submitFormButton">Eliminar</button>            
            </div>
            
        </div>
    </div>
</div>

<section>
    <div class="container mt-3">
        <h2>Tabla de Nadadores Registrados</h2>
        <p>Escribí algo en la barra de búsqueda para filtrar por nombre o apellido:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
        <br>
        <!-- Wrap the table in a div with a class for scrolling -->
        <div class="table-wrapper-scroll-y">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Sexo</th>
                        <th>Categoría</th>
                        <th>Club</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for nadador in rows %}
                    <tr>
                        <td>{{ nadador.nombre_apellido }}</td>
                        <td>{{ nadador.sexo }}</td>
                        <td>{{ nadador.categoria }}</td>
                        <td>{{ nadador.club }}</td>
                        <td>
                            <form action="{{url_for('view')}}" method="POST" style="display: inline; padding-left: 10px; padding-right: 10px;">
                                <input type="hidden" name="id" value="{{ nadador.id_nadador }}">
                                <button type="submit" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </form>
                            
                            <form action="{{url_for('edit')}}" method="POST" style="display: inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="{{ nadador.id_nadador }}">
                                <button type="submit" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            
                            <form action="{{ url_for('delete') }}" method="POST" style="display: inline;" class="delete-form" id="deleteForm">
                                <input type="hidden" name="id_del" value="{{ nadador.id_nadador }}">
                                <button type="button" class="open-delete-modal" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>                                               
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class='air air1'></div>
    <div class='air air2'></div>
</section>

<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function () {

        // Submit the form when the "Eliminar" button in the modal is clicked
        $("#submitFormButton").click(function () {
            // Trigger the form submission
            $("#deleteForm").submit();
        });

        $(document).ready(function () {
            $(".open-delete-modal").on("click", function () {
                // Get the ID from the data attribute of the clicked button's parent form
                var rowId = $(this).closest(".delete-form").find("input[name='id_del']").val();
                console.log("rowId:", rowId);

                // Send the rowId to the server using AJAX
                $.ajax({
                    type: "POST",
                    url: "/delete", // Replace with the actual URL of your server endpoint
                    data: { rowId: rowId }, // Send the rowId as data
                    error: function (error) {
                        // Handle errors if any
                        console.error("Error:", error);
                    }
                });

                // Show the modal
                $("#deleteModal").modal("show");
            });
    	    });


    });
</script>

{% endblock %}