{% extends "layout.html" %}
{% block title %}
Lista Nadadores
{% endblock %}
{% block content %}


<section>
    <div class="container mt-3">
        <h2>Tabla de Nadadores Registrados</h2>
        <!-- Wrap the table in a div with a class for scrolling -->
        <table id="example" class="display" style="width:100%;">
            <thead>
                    <tr>
                        <th>Nombre y Apellido</th>
                        <th>Sexo</th>
                        <th>Categoría</th>
                        <th>Club</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for nadador in rows %}
                    <tr>
                        <td>{{ nadador.nombre_apellido }}</td>
                        <td>{{ nadador.sexo }}</td>
                        <td>{{ nadador.categoria }}</td>
                        <td>{{ nadador.club }}</td>
                        <td>
                            <form action="{{url_for('view')}}" method="POST" style="display: inline; padding-left: 10px; padding-right: 10px;">
                                <input type="hidden" name="id" value="{{ nadador.id_nadador }}">
                                <button type="submit" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </form>
                            
                            <form action="{{url_for('edit')}}" method="POST" style="display: inline; padding-right: 10px;">
                                <input type="hidden" name="id" value="{{ nadador.id_nadador }}">
                                <button type="submit" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>
                            <button type="button" class="open-delete-modal" data-toggle="modal" data-target="#deleteModal-{{ nadador.id_nadador }}" style="background: none; border: none; cursor: pointer;">
                                <i class="fas fa-trash"></i>
                            </button>                              
                        </td>
                    </tr>
                    <!-- Modal for Delete Confirmation -->
                    <div class="modal fade" id="deleteModal-{{ nadador.id_nadador }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar 👀</h5>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro que querés eliminar este nadador? 
                                    <br>
                                    Se van a eliminar también sus pruebas asociadas 😐
                                </div>
                                <div class="modal-footer">
                                    <form action="{{ url_for('delete') }}" method="POST" style="display: inline;" class="delete-form" id="deleteForm">
                                        <input type="hidden" name="id_del" value="{{ nadador.id_nadador }}">
                                        <button type="submit" class="btn btn-danger" id="submitFormButton">Eliminar</button>
                                    </form>               
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
    </div>

    <div class='air air1'></div>
    <div class='air air2'></div>
</section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        var table = $('#example').DataTable();

        // Agregar un input de filtro para cada columna excepto la última
        $('#example thead th').each(function (index) {
            if (index < $('#example thead th').length - 1) {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Filtrar ' + title + '" />');
            }
        });

        // Aplicar el filtro a cada columna excepto la última
        table.columns().every(function (index) {
            if (index < table.columns().header().length - 1) {
                var that = this;

                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            }
        });

        var maxRows = 6; // Maximum number of rows to display
        var table = $('#example').DataTable(); // Initialize DataTable

        // Show only the first 'maxRows' rows
        table.page.len(maxRows).draw();


        // Click event for the delete buttons
        $(".open-delete-modal").on("click", function() {
            var idToDelete = $(this).closest("tr").find("input[name='id']").val(); // Get the ID from the hidden input
            var deleteForm = $("#deleteForm"); 

            deleteForm.find("input[name='id_del']").val(idToDelete);
        });
    });


</script>

{% endblock %}