{% extends "layout.html" %}
{% block title %}
Lista Pruebas
{% endblock %}
{% block content %}
<section>
    <div class="container mt-3">
        <h2 class="title-background">PRUEBAS REGISTRADAS</h2>
        <div class="d-grid gap-2 col-4 mx-auto">
            <button type="button" class="btn btn-success mb-3">Añadir Prueba</button>
        </div>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar...">
        <!-- Wrap the table in a div with a class for scrolling -->
        <div class="table-wrapper-scroll-y mt-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    <tr id="new-prueba-row" style="display: none;">
                        <td>
                            <input type="text" class="new-description" style="width: 50vw;">
                        </td>
                        <td>
                            <form action="{{ url_for('add_prueba') }}" method="POST" class="add-form">
                                <input type="text" name="new_description" class="new-description" style="display: none; width: 50vw;">
                                <button type="submit" class="ok-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" class="cancel-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    
                    {% for prueba in rows %}
                    <tr>
                        <td>
                            <span class="description">{{ prueba.descripcion }}</span>
                            <input type="text" class="edit-input" style="display: none; width: 50vw;" value="{{ prueba.descripcion }}">
                        </td>
                        <td>
                            <button class="edit-button" style="background: none; border: none; cursor: pointer;">
                                <i class="fas fa-edit"></i>
                            </button>

                            <form action="{{ url_for('edit_prueba') }}" method="POST" style="display: none;" class="edit-form" id="editForm">
                                <input type="hidden" name="id_edit" value="{{ prueba.id_prueba }}">
                                <input type="text" name="edited_description" class="edited-description" style="display: none;">
                                <button type="submit" class="ok-button" style="background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-check"></i>
                                </button>
                                <button type="button" class="cancel-button" style="display: none; background: none; border: none; cursor: pointer;">
                                    <i class="fas fa-times"></i>
                                </button>
                            </form>

                            <button type="button" class="open-delete-modal" data-toggle="modal" data-target="#deleteModal-{{ prueba.id_prueba }}" style="background: none; border: none; cursor: pointer;">
                                <i class="fas fa-trash"></i>
                            </button>   
                        </td>
                    </tr>
                    <!-- Modal for Delete Confirmation -->
                    <div class="modal fade" id="deleteModal-{{ prueba.id_prueba }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Confirmar 👀</h5>
                                </div>
                                <div class="modal-body">
                                    ¿Estás seguro que querés eliminar esta prueba? 
                                    <br>
                                    Todos los nadadores que estaban registrados en esta prueba no la van a tener más 😐
                                </div>
                                <div class="modal-footer">
                                <form action="{{ url_for('delete_prueba') }}" method="POST" style="display: inline;" class="delete-form" id="deleteForm">
                                    <input type="hidden" name="id_del" value="{{ prueba.id_prueba }}">
                                    <button type="submit" class="btn btn-danger" id="submitFormButton">Eliminar</button>
                                </form>    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


</section>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                $("#new-prueba-row").hide();
            });
        });


        $(".edit-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editButton = row.find(".edit-button");
            var cancelButton = row.find(".cancel-button");
            var editForm = row.find(".edit-form");
            var deleteButton = row.find(".delete-button");

            var oldDescription = descriptionSpan.text(); // Store the old description

            descriptionSpan.hide();
            editInput.val(oldDescription); // Set the input value to the old description
            editInput.show();
            editButton.hide();
            cancelButton.show();
            editForm.show();
            deleteButton.hide();
        });

        $(".ok-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editForm = row.find(".edit-form");
            var newDescription = editInput.val(); // Get the edited description

            // Set the value of the edited_description input field in the form
            editForm.find(".edited-description").val(newDescription);

            descriptionSpan.text(newDescription); // Update the displayed description
            descriptionSpan.show();
            editInput.hide();
            editButton.show();
            cancelButton.hide();
            editForm.hide();
            deleteButton.show();
        });

        $(".cancel-button").click(function() {
            var row = $(this).closest("tr");
            var descriptionSpan = row.find(".description");
            var editInput = row.find(".edit-input");
            var editButton = row.find(".edit-button");
            var cancelButton = row.find(".cancel-button");
            var editForm = row.find(".edit-form");
            var deleteButton = row.find(".delete-button");

            descriptionSpan.show();
            editInput.hide();
            editButton.show();
            cancelButton.hide();
            editForm.hide();
            deleteButton.show();
        });

             // Click event for the delete buttons
            $(".open-delete-modal").on("click", function() {
            var idToDelete = $(this).closest("tr").find("input[name='id']").val(); // Get the ID from the hidden input
            var deleteForm = $("#deleteForm"); 

            deleteForm.find("input[name='id_del']").val(idToDelete);
        });
    });

    // Show the new prueba row when "Añadir Prueba" button is clicked
    $(".btn-success").click(function() {
        $("#new-prueba-row").show();
    });

    // Handle the cancel button in the new row
    $(".new-description").on("input", function() {
        // Hide the new prueba row if the input field is empty
        if ($(this).val() === "") {
            $("#new-prueba-row").hide();
        }
    });

    // Handle the cancel button in the new row
    $(".cancel-button").click(function() {
        // Hide the new prueba row
        $("#new-prueba-row").hide();
    });

    // Handle the OK button in the new row
    $(".ok-button").click(function() {
        var row = $("#new-prueba-row");
        var newDescription = row.find(".new-description").val();

        if (newDescription) {
            // Set the value of the new_description input field in the form
            row.find(".new-description").val(newDescription);
            // Submit the form to Flask
            row.find(".add-form").submit();
        }
    });

     // Submit the form when the "Eliminar" button in the modal is clicked
     $("#submitFormButton").click(function () {
            // Trigger the form submission
            $("#deleteForm").submit();
        });



</script>

{% endblock %}
